#game{
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
}

#top_bar{
    background: #ca1f46;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 3em;
    display: table;
    width: 100%;
}

#timer, #points{
    display: table-cell;
    border-right: 2px solid #b13;
    vertical-align: middle;
    padding: 0.5em;
}

#rack{
    background: #eee;
    display: table;
    width: 100%;
}

#word{
    font-size: 4em;
    padding: 0.2em;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
}

#play{
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    background: #83bd11;
    border: none;
    font-size: 3em;
    font-weight: 800;
}

#pause, #del{
    border: none;
    background: #ddd;
    padding: 0;
    color: #333;
    float: right;
}

#stack{
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-collapse: collapse;
    border: none;
}

#stack td{
    transition: all 0.2s ease;
    width: 20%;
    height: 20%;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    cursor: pointer;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: bottom;
}

#stack td small{
    font-size: 40%;
}

#stack td.av1{background-color: rgba(255, 255, 122, 0);}
#stack td.av2{background-color: rgba(255, 255, 122, 0.25);}
#stack td.av3{background-color: rgba(255, 255, 122, 0.5);}
#stack td.av4{background-color: rgba(255, 255, 122, 0.75);}
#stack td.av5{background-color: rgba(255, 255, 122, 1);}

#stack td.tilt-left{
    -webkit-transform-origin: right;
    -webkit-transform: perspective(1000px) rotateY(45deg);
}

#stack td.tilt-right{
    -webkit-transform-origin: left;
    -webkit-transform: perspective(1000px) rotateY(-45deg);
}

#stack td.tilt-down{
    -webkit-transform-origin: top;
    -webkit-transform: perspective(1000px) rotateX(45deg);
}

#stack td.tilt-up{
    -webkit-transform-origin: bottom;
    -webkit-transform: perspective(1000px) rotateX(-45deg);
}


#stack td.used{background: #eee; font-size: 150%;}
