#game{
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
}

#top_bar{
    background: #39AAA3;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 3em;
    display: table;
    width: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

#timer, #points{
    display: table-cell;
    border-right: 2px solid rgba(0,0,0,0.2);
    vertical-align: middle;
    padding: 0.5em;
    text-shadow: 0 3px rgba(0,0,0,0.2);
}

#timer{
    border: none;
}

#rack{
    background: #A2EDE3;
    color: #fff;
    display: table;
    width: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    text-shadow: 0 3px rgba(0,0,0,0.2);
}

#word{
    font-size: 4em;
    padding: 0.2em;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
}

#play{
    transition: all 0.3s ease;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    background: #F7A992;
    text-shadow: 0 3px rgba(0,0,0,0.2);
    border: none;
    border-top: 2px solid rgba(0,0,0,0.2);
    font-size: 4em;
    line-height: 1em;
    font-weight: 800;
}

#play:active{
    font-size: 2em;
}

#pause, #del{
    border: none;
    background: rgba(0,0,0,0.2);
    padding: 0;
    color: #fff;
    float: right;
}

#del{
    font-size: 2.5em;
}

#stack{
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-collapse: collapse;
    border: none;
}

#stack td{
    transition: all 0.2s ease;
    width: 20%;
    height: 20%;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-size: 2.5em;
    cursor: pointer;
    -webkit-perspective: 1000px;
    -webkit-perspective-origin: bottom;
}

#stack td small{
    font-size: 40%;
}

#stack td.av1{background-color: rgba(172, 90, 174, 0);}
#stack td.av2{background-color: rgba(172, 90, 174, 0.25);}
#stack td.av3{background-color: rgba(172, 90, 174, 0.5);}
#stack td.av4{background-color: rgba(172, 90, 174, 0.75);}
#stack td.av5{background-color: rgba(172, 90, 174, 1);}

#stack td.tilt-left{
    -webkit-transform-origin: right;
    -webkit-transform: perspective(1000px) rotateY(45deg);
}

#stack td.tilt-right{
    -webkit-transform-origin: left;
    -webkit-transform: perspective(1000px) rotateY(-45deg);
}

#stack td.tilt-down{
    -webkit-transform-origin: top;
    -webkit-transform: perspective(1000px) rotateX(45deg);
}

#stack td.tilt-up{
    -webkit-transform-origin: bottom;
    -webkit-transform: perspective(1000px) rotateX(-45deg);
}

#stack td.twox{ background: #EA733C; color: #fff;}
#stack td.freeze{ background: #B3F1EA; color: #fff;}
#stack td.adjacent{ background: #EE78B4; color: #fff;}

#stack td.twox, #stack td.freeze, #stack td.adjacent{
    text-shadow: 0 3px rgba(0,0,0,0.2);
}

#stack td.used{background: #F8DFC5; font-size: 150%;}

@-webkit-keyframes goodword{
    0%{

    }
    50%{
        background: rgba(172, 90, 174, 1);
        color: #fff;
    }
    100%{

    }
}

@-webkit-keyframes badword{
    0%{

    }
    50%{
        background: #F8DFC5;
        color: #fff;
    }
    100%{

    }
}

@-webkit-keyframes dance {
  0%   { -webkit-transform: rotate(-5deg); }
  30%   { -webkit-transform: rotate(5deg); }
  60%   { -webkit-transform: rotate(-5deg); }
  100%   { -webkit-transform: rotate(0deg); }
}

/*@-webkit-keyframes freeze {
    0% {background: #A2EDE3;}
    50% {background: #39A9A2;}
    100% {background: #A2EDE3;}
}

@-webkit-keyframes twox {
    0% {background: #C48674;}
    50% {background: #F7A992;}
    100% {background: #C48674;}
}

#points.twox{-webkit-animation: twox 0.5s infinite;}
#timer.freeze{-webkit-animation: freeze 0.5s infinite;}
#game.panic{-webkit-animation: twox 0.5s infinite;}

.dance{-webkit-animation: dance 0.5s 1;}
.goodword{-webkit-animation: goodword 0.5s 1;}
.badword{-webkit-animation: badword 0.5s 1;}*/