* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

html, body{
    height: 100%;
}

body{
    background: #333;
    font-family: 'montserratregular';
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container{
    background-color: #ca1f46;
    color: #fff;
    height: 100%;
    padding: 0;
}

.compress{
    width: 320px;
    height: 480px !important;
    margin: 30px auto;
    box-shadow: 0 0 03px #000;
    font-size: 4.8;
    overflow: hidden;
}